:root{
    --header-bar-height: 50px;
    --footer-bar-height:250px;
    --footer-bar-contact-height:200px;
    --header-bar-color:#434a54;
    --navbar-height:77px;
    --primary-color-header:#434a54;
    --second-color-block:#4a515b;
    --color-topic-title:#5e6d81;
    --text-color:#a3a3a3;
    --berlin-color:#ba71da;
    --berlin-pale-color:#c17fde;
    --delhi-color:#14b9d5;
    --delhi-pale-color:#2cc0d9;
    --london-color:#f76570;
    --london-pale-color:#f8757f;
    --cuba-color:#1bbc9b;
    --cuba-pale-color:#32c3a5;
    --rome-color:#f3a46b;
    --rome-pale-color:#f4ad7a;
    --dubai-color:#ffd205;
    --dubai-pale-color:#ffd71e;
}

*{
    box-sizing: inherit;
}

html{
    /* Hack :))) */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
@keyframes FadeIn{
    0% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes MoveFromBotToTop
{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}
.btn{
    text-decoration: none;
    width: 120px;
    height: 40px;
    outline: none;
    border: 1px solid var(--text-color);
    display: flex;
    padding: 20px;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--text-color);
}
.btn:hover{
    background-color: var(--cuba-color);
    color: #fff;
}

.btn-color.color-dubai{
    background-color: var(--dubai-color);
}
.btn-color.color-cuba{
    background-color: var(--cuba-color);
}
.btn-color.color-delhi{
    background-color: var(--delhi-color);
}
.btn-color.color-london{
    background-color: var(--london-color);
}
.btn-color.color-rome{
    background-color: var(--rome-color);
}
.btn-color.color-berlin
{
    background-color: var(--berlin-color);
}

.bgr.color-dubai{
    background-color: var(--dubai-color);
}
.bgr.color-cuba{
    background-color: var(--cuba-color);
}
.bgr.color-delhi{
    background-color: var(--delhi-color);
}
.bgr.color-london{
    background-color: var(--london-color);
}
.bgr.color-rome{
    background-color: var(--rome-color);
}
.bgr.color-berlin
{
    background-color: var(--berlin-color);
}

.bgr.img-dubai{
    background-image: url(../img/dubai.jpg);
}
.bgr.img-cuba{
    background-image: url(../img/cuba.jpg);
}
.bgr.img-delhi{
   background-image: url(../img/new-delhi.jpg);
}
.bgr.img-london{
    background-image: url(../img/LonDon.jpg);
}
.bgr.img-rome{
  background-image: url(../img/rome.jpg);
}
.bgr.img-berlin
{
    background-image: url(../img/berlin.jpg);
}


